*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
}
.menu{
    display: flex;
    list-style: none;
}
.menu .menu_item{
    padding: 20px;
}
.menu .menu_item a{
    color: white;
    text-decoration: none;
}
.menu_item :hover{
    background-color: rgb(251, 248, 248);
}
.menu_item:hover a{
    color:black;
}
